In [1]:
import pymongo
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
connection_string = "mongodb://localhost:27017"
client = pymongo.MongoClient(connection_string)
data_name = 'MemoireEsgf'
db = client[data_name]
collection = db.AI_PA

In [25]:
connection_string = "mongodb://localhost:27017"
client = pymongo.MongoClient(connection_string)
data_name = 'IndiceMarketPred'
db = client[data_name]
collection = db.ASX_200_Pred

In [136]:
l1 =['Total'
,'Sanofi'
,'Danone'
,'Crédit agricolt' 
,'LOréal'
,'Renault'
,'Stelantis'
,'Alstom'
,'Engi'
,'Airbus'
,'Carrefour'
,'Mcdonalds'
,'Netflix'
,'Facebook'
,'Paypal'
]


#['RI.PA - Pernod Ricard','ORA.PA - Orange','CA.PA - Carrefour','ML.PA - Michelin','VIE.PA - Veolia'
#,'ACA.PA - Crédit Agricole','MC.PA - LVMH Moët'
#,'SGO.PA - Saint-Gobain','CAP.PA - Capgemini'
#,'WLN.PA - Worldline','KER.PA - Kering'
#,'ATO.PA - Atos','ENGI.PA - Engie'
#,'AIR.PA - Airbus','BN.PA - Danone'
#,'DG.PA - Vinci','EN.PA - Bouygues'
#,'HO.PA - Thales','BNP.PA - BNP Paribas'
#,'SW.PA - Sodexo','OR.PA - LOréal'
#,'GLE.PA - Société Générale','LR.PA - LafargeHolcim'
#,'AI.PA - Air Liquide','VIV.PA - Vivendi'
#,'SU.PA - Schneider Electric'
#,'SAN.PA - Sanofi','AC.PA - Accor']

In [135]:
l2 = [5215
,5215
,5215
,5215
,5215
,5215
,5215
,5215
,5215
,5215
,5215
,5215
,5215
,5215
,5215
]

In [137]:
l3 = [58.12
,91.1
,51.95
,8.12
,359.01
,29.97
,14.05
,23.06
,12.42
,101.04
,15.69
,264.23
,226.21
,159.92
,88.56
]

    #[188.73
    #,9.3
    #,15.69
    #,25.65
    #,23.36
    #,8.12
    #,678.32
    #,43.52
    #,181.57
    #,42.9
    #,539.49
    #,11.78
    #,11.28
    #,101.04
    #,51.95
    #,88.33
    #,27.66
    #,122.39
    #,42.87
    #,78.05
    #,359.01
    #,20.08
    #,80.44
    #,130.15
    #,8.92
    #,130.61
    #,91.1
    #,25.37]

In [139]:
l4 = [303095.8
,475086.5
,270919.25
,42345.8
,1872237.15
,156293.55
,73270.75
,120257.9
,64770.3
,526923.6
,81823.35
,1377959.45
,1179685.15
,833982.8
,461840.4

]
#[471825,23250
#,39225
#,64125
#,58400
#,20300
#,1695800
#,108800
#,453925
#,107250
#,1348725
#,29450
#,28200
#,252600
#,129875
#,220825
#,69150
#,305975
#,107175
#,195125
#,897525
#,50200
#,201100
#,325375
#,22300
#,326525
#,227750
#,63425]

# [
#    471825
#    ,60719.7
#    ,55322.94
#    ,18775.8
#    ,20416.64
#    ,24595.48
#    ,1139577.6
#    ,108800
#    ,453925
#    ,128700
#    ,2697450
#    ,17670
#    ,22560
#    ,202989.36
#    ,94652.9
#    ,70664
#    ,80518.26
#    ,403764.61
#    ,41240.94
#    ,156100
#    ,1077030
#    ,13092.16
#    ,60812.64
#    ,87721.1
#    ,5325.24
#    ,391830
#    ,88640.3
#    ,19331.94]

In [141]:
l5 = [
57.04
,98.63
,54.5
,11.656
,405.79
,37.22
,17.17
,25.45
,14.89
,135.38
,17.67
,284.24
,433.67
,295.89
,62.5]
    #[181.19
    #,10.35
    #,17.67
    #,28.91
    #,28.86
    #,11.65
    #,782.2
    #,60.16
    #,172.35
    #,30.08
    #,494.2
    #,7.76
    #,14.89
    #,135.38
    #,53.83
    #,102.95
    #,31.89
    #,134.8
    #,59.7
    #,99.01
    #,405.79
    #,26.21
    #,91.09
    #,166.86
    #,8.4
    #,158.58
    #,98.63
    #,33.09]

In [142]:
l6 = [
297463.6
,514355.45
,284217.5
,60786.04
,2116194.85
,194102.3
,89541.55
,132721.75
,77651.35
,706006.7
,92149.05
,1482311.6
,2261589.05
,1543066.35
,325937.5]

    #[452975,25875
    #,44175
    #,72275
    #,72150
    #,29125
    #,1955500
    #,150400
    #,430875
    #,75200
    #,1235500
    #,19400
    #,37225
    #,338450
    #,134575
    #,257375
    #,79725
    #,337000
    #,149250
    #,247525
    #,1014475
    #,65525
    #,227725
    #,417150
    #,21000
    #,396450
    #,246575
    #,82725
    #]

In [125]:
l7 = [
    
]
#[
#0.132345782967172
#,0.105563136378984
#,0.154177308892946
#,0.319783597751837
#,0.294477549014656
#,0.307976950125792
#,0.352810322778975
#,0.473891985113194
#,0.253572719754577
#,0.344391170656857
#,0.254214000414547
#,0.639616496150587
#,0.12643190882486
#,0.129258015199039
#,0.0749995708048794
#,0.279615713552508
#,0.237801041265549
#,0.0648856387095062
#,0.40023327549135
#,0.0353269507743471
#,0.179354100095523
#,0.222350871297455
#,0.133228641154008
#,0.31958331868296
#,0.281642977723776
#,0.124124645473688
#,0.0612779042084515
#,0.244410518336015
#
#]

In [143]:
len(l1), len(l2), len(l3), len(l4), len(l5), len(l6), len(l7)

(15, 15, 15, 15, 15, 15, 28)

In [144]:
dic1 = {'Entreprise':l1, 'Quantité':l2, 'Prix Unitaire':l3, 'Capital Investi':l4, 'Cours Actuel':l5, 'Valorisation':l6}

In [145]:
for i in dic1:
    print(i)

Entreprise
Quantité
Prix Unitaire
Capital Investi
Cours Actuel
Valorisation

In [146]:
ptf_non_equipond = pd.DataFrame(data=dic1)

In [147]:
ptf_non_equipond.head(5)

,Entreprise,Quantité,Prix Unitaire,Capital Investi,Cours Actuel,Valorisation
0,Total,5215,58.12,303095.80,57.040,297463.60
1,Sanofi,5215,91.10,475086.50,98.630,514355.45
2,Danone,5215,51.95,270919.25,54.500,284217.50
3,Crédit agricolt,5215,8.12,42345.80,11.656,60786.04
4,LOréal,5215,359.01,1872237.15,405.790,2116194.85

In [148]:
import json 
json_file = ptf_non_equipond.to_json('data/ptf_traditionnel.json' ,indent=4, orient='records')

In [149]:
connection_string = "mongodb://localhost:27017"
client = pymongo.MongoClient(connection_string)

In [134]:
db = client['Portefeuille']
collection_main = db['ptf_traditionnel']
with open('data/ptf_traditionnel.json') as file:
    file_data = json.load(file)
if isinstance(file_data, list):
    collection_main.delete_many({})
    collection_main.insert_many(file_data)
else:
    collection_main.insert_one(file_data)